.f3 {
    .poa-home {
        .start {
            height: auto;
            margin-top: -20px;
        }
    }
    .poa-start {
        .slogan {
            margin-top: -30px;
        }
    }
    .poa-session {
        .q1-2 {
            margin-bottom: 10px;
        }
    }
}
