@import "./_icons.less";

body {
    background: #FFF;
    margin: 0;
}

.sea_bg {
    width: 100%;
}

.poa-header {
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo1 {
        width: 80px;
        height: 27px;
    }

    .logo2 {
        width: 140px;
        height: 18px;
    }
}

.poa-home {
    display: flex;
    flex-direction: column;
    align-items: center;

    .kv {
        width: 202px;
        height: 79px;
    }

    .start {
        margin-top: 100px;
        width: 238px;
        height: 36px;
    }
}
